* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: rgb(216, 240, 252);
}
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  max-width: 25ch;
  color:white;
}
.super-wrapper {
  width: 100%;
}
.firstBand {
  background-color: rgb(37, 93, 171);
}
.secondBand {
  background-color: rgb(154, 58, 32);
}
.thirdBand {
  background-color: rgb(179, 224, 237);
}
.content-wrapper {
  margin: 0 auto;
  padding: 10px 0;
  width: 350px;
  color:white;
}
.content-wrapper-3D {
  margin: 0 auto;
  padding: 0;
  max-width: 1024px;
  height: 500px;
}
model-viewer {
  height: 100%;
  width: 100%;
}
